body{
    font-family: 'Redressed', cursive;
    margin: 0%;

}


/*top-header-part*/

.top-banner{
    background-image: url(images/top-banner.png);
    background-size: cover;
   
    
}

p{
    color: dimgray;
}
section{

    height: 514px;
}


h1{
    
    font-size: 45px;
}

.firstspan{
    color: red;
}
.first {
    margin-left: 5%;
    padding-left: 3%;
    float: left;
    width: 38%;
    margin-top: 28px;
}
.first img{
    margin-top:46px;
    width: 100%;
}

.link{
    text-decoration: none;
    color: rgb(255, 251, 250);
    padding:7px 20px;
    background-image: linear-gradient(20deg, green, yellow);
    border-radius: 8px;
    font-weight: bold;
}

/*End header-part*/



/*middle-part start*/


.middle{
    float: left;;
    width: 46%;
    text-transform: capitalize;
    color:#363958;
}

.middle img{
    
 width: 79%;
 margin-left: 62px;
    
}
.link-two{
    text-decoration: none;
    padding: 7px 10px;
    color: white;
    background-image: linear-gradient(45deg, #524242db, #1b2f1b);
    border-radius: 10px;
    font-weight: bold;
}

/* end middle part */



/* start middle footer */

.para{

    color: #F46060;
}

#paratwo{

    color: #363958;
}

 #paratwo  {
    text-align:center ;
    font-size: 34px;
    text-transform: uppercase;
}
.box-1, .box-2, .box-3 {
    width: 356px;
    margin: auto;
    height: 226px;
    background-repeat: no-repeat;
    box-shadow: 2px 2px 12px grey;
    background-size: cover;
}
.box-contaier{
    display: flex;
    justify-content: space-between;
}
.box-1{
    background-image: url(images/image\ 4.png);
}

.box-2{
    background-image: url(images/image\ 5.png);
}
.box-3{
    background-image: url(images/image\ 8.png);
}
#one{
    color:#7d2626c4;
    background-color: #d6c5c575;
    text-align:center;
    margin-left: 58px;
    border-radius: 3px;
}
button{
    background-color:  #736a6a;
    text-align: center;
    border:none;
    color: #fbf5ff;
    margin-left: 129px;
    padding: 7px 15px;
    border-radius: 10px;
}
#two{
    color:#7d2626c4;
    background-color: #d6c5c575;
    text-align:center;
    margin-left: 58px;
    border-radius: 3px;
}
/* end middle part */


/* start first footer part*/

.img{
    background-image: url(images/fotter.png);
    background-size: cover;
    background-position: center;
    margin-top: -107px;
    position: relative;
}

.footer-part img {
    width: 868px;
    height: 300px;
    margin-left: 18%;
}
/* text over imnage */
.container {
    position: absolute;
    top: 50px;
    left: 275px;
    color: white;
    font-size: 52px;
    padding-left: 27px;
    padding-right: 20px;
}

#btn {
    position: absolute;
    font-size: 23px;
    background-color: tomato;
    bottom: 73px;
    right: -362px;
    color: white;
    padding: 8px 28px 12px 23px;
    text-decoration: none;
}
/* end first footer part */


/* start second footer part */
.third-part{
    margin:auto;
    width: 50%;
    box-shadow: 10px 10px 40px gray;
    border-radius: 15px;
  
}
#third{
    font-weight: bold;
    text-align: center;
    border-style: dotted dashed solid double;
    border-radius: 20px;
}
#third{
    border-bottom: 3px solid red;
}
#third{
    border-bottom: 3px solid green;
}
h3{
    text-align: center;
    border-bottom:1px  dotted #ddd;
}
.third{
    color: tomato;
}
.fix-left {
    margin-top: -78px;
    margin-left: 37px;
    float: left;
    border-bottom: 1px outset #ddd;
}
.center{
    text-align: center;
}
.experince-area{
    margin-top: 100px;
}
.experince-area{
    
    background-image: url(images/shape1.png);
    background-repeat: no-repeat;
    background-position: left;
}
.another-part{
    background-image: url(images/shape2.png);
    background-repeat: no-repeat;
    background-position: right;
    
}
/* end second footer part */


/* final footer part */

.fotter-parat {
    
    margin-top: -86px;
}
.fotter-one{
    color: #696871;
    margin-left: 26px;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    border-bottom-left-radius: 20px;
}
.fotter{
    
    margin-left: 26px;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    border-bottom-left-radius: 20px;
}
h6{
    margin: auto;
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    
   
}
#last{
    border-left: 3px solid ;
    border-color: green;
    border-right: 3px solid red;

}

.last {
    width: 377px;
    padding: 13px;
    box-shadow: 9px 8px 40px tomato;
   
}
.copyrights{
    text-align:center;
}